@import "tailwindcss/preflight";
@reference "tailwindcss/utilities";

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
}

.label {
  @apply cursor-pointer text-sm font-medium;
  color: #252525;
}

.base-input {
  @apply grid bg-transparent;
}

.base-input.suffix-icon {
  @apply grid grid-cols-[1fr_auto];
}

.base-input .suffix-input {
  @apply pr-10;
}

.base-input .preffix {
  @apply justify-self-start p-3;
  grid-column: -1 / 1;
  grid-row: -1 / 1;
}

.base-input .suffix {
  @apply justify-self-end pr-3;
  grid-column: -1 / 1;
  grid-row: -1 / 1;
}

.base-input input,
.base-input textarea {
  @apply w-full bg-transparent text-sm font-medium p-2.5 border rounded-sm outline-none transition-all;
  color: #555555;
  border-color: #dfdfdf;
}

.base-input input::placeholder,
.base-input textarea::placeholder {
  color: #8c8c8c;
  font-size: 0.875rem; /* text-sm */
}

.otp-input {
  @apply border w-12 h-12 text-xl rounded-md outline-none text-center;
  border-color: #dfdfdf;
}

.input-scroll-bar::-webkit-scrollbar {
  @apply bg-transparent w-1 px-1;
}

.input-scroll-bar::-webkit-scrollbar-thumb {
  @apply bg-gray-400 w-1;
}
