@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme {
  --color-primary: #003da6;
  --color-secondary-blue: #005aff;
  --color-black: #252525;
  --color-blackgray: #697483;
  --color-baseBgColor: #ffffff;
  --color-lightWhite: #f7f8fa;
  --color-baseBgOne: #003da6;
  --color-borderColor: #e9e9e9;
  --color-lightShadeBlue: #e6eeff;
  --color-portalBg: #bd8f0b;
  --color-portalBgDark: #8f6c08;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.layout-spacing {
  @apply px-5 sm:px-10;
}

.label {
  @apply cursor-pointer text-[#252525] font-medium text-sm;
}

.custom-scroll-bar::-webkit-scrollbar {
  @apply w-1 h-1;
}

.custom-scroll-bar::-webkit-scrollbar-track {
  @apply bg-[#DEDEDE];
}

.custom-scroll-bar::-webkit-scrollbar-thumb {
  @apply bg-[#B9B9B9] cursor-grabbing;
}
